@model ProvaCandidato.Data.Entidade.Cidade

@{
    Layout = null;
    List<string> erros = ViewBag.erros;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Cidade</h4>
            <hr />
            @if (erros != null && erros.Count() > 0)
            {
                <p>
                    <div class="alert alert-danger">
                        <ul>
                            @foreach (var erro in erros)
                            {
                                <li>@erro</li>
                            }
                        </ul>
                    </div>
                </p>

            }
            @Html.HiddenFor(model => model.Codigo)

            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
